# Application settings, change secret in prod, generate using: openssl rand -base64 32
# Urls and URIs mustn't have quotation marks ""
JWT_SECRET=WTHxpKFhvxGq5m7Froykeys8WjIR+kYf8FitSoKV1qw=
APP_ERROR_BASE_URI=https://api.yourdomain.com/errors/

# Database
DB_URL=jdbc:postgresql://localhost:5432/ticket_booking_db
DB_USERNAME=admin
DB_PASSWORD=admin

# RabbitMQ
RABBITMQ_URL=localhost
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Payment Mock Simulation Rate
PAYMENT_DECLINE_RATE=0.1